{% extends 'blog\base.html' %}

{% block title %} Обновление блога {% endblock %}

{% block content %}

<main class="container mt-5">
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="{% url 'blog:home' %}" class="btn btn-primary">Отмена</a>
        </form>
    </div>
</div>
</main>
{% endblock %}