<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script defer src="/static/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="row ">
    {% include 'catalog\menu.html' %}
    <div class="col-10">
        <div class="row mt-5"></div>
        <div class="row mt-5">
          {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
<footer>
    <div class="row">
        <div class="col-2 full-height text-bg-dark p-3">
            <div class="row ">
                <hr class="divider">
                <div class="col-2 text-bg-dark p-3">

                    <div class="dropdown">
                        <button class="btn text-light dropdown-toggle fs-5" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                            </svg>
                            Пользователь
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Профиль</a></li>
                            <li><a class="dropdown-item" href="#">Выход</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
</html>