{% extends 'catalog/base.html' %}

{% block title %}Добавить продукт{% endblock %}

{% block content %}

    <form class="row g-3 position-relative py-2 px-4 text-bg-dark border rounded-2 bg-secondary mt-5 top-50 start-50 translate-middle-x" style="width: 50%" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Название товара" aria-label="Название товара"
                   id="{{ form.name.id_for_label }}" name="{{ form.name.name }}">
        </div>
        <div class="input-group">
            <textarea class="form-control" placeholder="Описание товара" aria-label="Описание товара" id="{{ form.description.id }}" name="{{ form.description.name }}" rows="10"></textarea>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="{{ form.category.id_for_label }}">Категория товара</label>
            <select class="form-select" id="{{ form.category.id_for_label }}" name="{{ form.category.name }}">
                <option selected>Выберите...</option>
                {% for category in categories %}
                <option value="{{ category.pk }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" aria-label="Стоимость товара" placeholder="Стоимость товара" id="{{ form.purchase_price.id_for_label }}" name="{{ form.purchase_price.name}}">
            <span class="input-group-text">РУБ.</span>
        </div>
        <div class="mb-3">
            <label for="{{ form.image.id_for_label }}" class="form-label">Изображение товара</label>
            <input class="form-control form-control-sm" id="{{ form.image.id_for_label }}" type="file" name="{{ form.image.name }}">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Отправить</button>
    </form>
{% endblock %}